@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  color: #111;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* start of login page design */
.form {
  color: #2dc653;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  max-width: 400px;

  margin: 2em auto 0;
  padding: 1em;

  border-radius: 6px;
}

.form .form-title {
  color: #111;
  text-align: center;
}

.form p {
  text-align: center;
  color: #333;
  line-height: 1.5;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  border-radius: 6px;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  outline: 1px solid #D1D5DB;
}

.form input:focus {
  outline: 2px solid #111;
}

.label {
  align-self: flex-start;
  color: #2dc653;
  font-weight: 600;
}

.form .submit-btn {
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  margin-top: .5em;
  border: none;
  border-radius: 6px;
  background-color: #2dc653;
  color: #f5f5f5; 
  cursor: pointer;
  transition: .6s ease;
  font-weight: 600;
}

.form .submit-btn:hover {
  background-color: #229944;
  color: #f5f5f5;
}

.span {
  text-decoration: none;
  color: #111;
}

.span a {
  color: #2dc653;
  margin-left: .125em;
}

.form .auth-error-msg {
  color: #e5383b;
}

.form input.input-error {
  outline-color: #e5383b;
}

.form .submit-btn:disabled {
  opacity: .8;
  cursor: not-allowed;
}
/* end of login page design */

/* start of header dashboard design */
.dashboard-header {
  background-color: #2dc653;
  color: #f5f5f5;
  padding: 1em;
  border-radius: 0 0 6px 6px;
}

.dashboard-container {
  padding: 1em;
}
/* end of header dashboard design */

/* start of dashboard form */
.dashboard-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
}

.dashboard-form label {
  font-weight: 600;
  color: #2dc653;
  margin-right: 1em;
}

.dashboard-form input,
.dashboard-form select {
  padding: 1em 2em;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

.dashboard-form input:disabled,
.dashboard-form select:disabled {
  opacity: .8;
  cursor: not-allowed;
}

.dashboard-form .input-error {
  border-color: #e5383b;
}

.dashboard-form .submit-btn {
  background-color: #2dc653;
  color: #f5f5f5;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 1em 2em;
  cursor: pointer;
  transition: .6s ease;
}

.dashboard-form .submit-btn:hover {
  background-color: #229944;
}

.dashboard-container .dashboard-form-error-msg {
  margin-top: 1em;
  color: #e5383b;
  text-align: center;
}
/* end of dashboard form */

/* sr-only design */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}